
<!--
# exchanges logic
# loop through exchanges
#   find ones that have this user's hospital id somewhere in the linked exchange -> grab whole "exchanges"
#   exchange id -> exchanges.id
#   when created -> exchanges.creation_timestamp
#   when updated -> exchanges.updated_timestamp
#   loop through exchanges
#     print out exchange
#     print out status
#     depending on status, show optional button

# The final table looks like:
# Exchange ID   when created    when updated    exchange part 1     status part 1: optional button (verify/shipped/received)
#                                               exchange part 2     status part 2: optional button
#                                               ...                 ...
-->

{% macro whole_exchange_td(loop, ex) %}
<!-- Apparently jinja2 is 1-indexed. I hate it. -->
{% if loop.index == 1 %}
    <td rowspan="{{ ex.exchanges|length }}">
        {{ caller() }}
    </td>
{% endif %}
{% endmacro %}

{% macro whole_exchange_actions(loop, ex, status = "") %}
<!-- Apparently jinja2 is 1-indexed. I hate it. -->
{% if loop.index == 1 %}

    <td rowspan="{{ ex.exchanges|length }}">
        {{ status }}
    </td>
    <td rowspan="{{ ex.exchanges|length }}">
        {{ caller() }}
    </td>
{% endif %}
{% endmacro %}

{% macro exchange_status_and_actions(ex, e) %}
    {% set status = "Unknown" %}
    {% set actions %}
        <i style="display: inline-block; width: 100%; text-align: center;">None</i>
    {% endset %}

    {% if e.h1 == hospital.hospital_id and ex.verify1 %}
        {% if not e.is_verified %}
            {% set status %}
                Waiting for {{ e.h2_name }} to verify
            {% endset %}
        {% elif not e.is_shipped %}
            {% set status = "You need to ship" %}
            {% set actions %}
                <button
                    style="margin-left: 0.25em;"
                    onclick="updateExchange('{{ ex.exchange_sid }}', 'shipped', '{{ e.id }}', 1, '{{ e.h1 }}') "
                    class="btn btn-success btn-sm"
                >Mark as Shipped</button>
            {% endset %}
        {% elif not e.is_received %}
            {% set status %}
                Waiting for {{ e.h2_name }} to receive
            {% endset %}
        {% else %}
            {% set status = "Complete" %}
        {% endif %}
    {% elif e.h2 == hospital.hospital_id and ex.verify2 %}
        {% if not e.is_verified %}
            {% set status %}
                Waiting for {{ e.h1_name }} to verify
            {% endset %}
        {% elif not e.is_shipped %}
            {% set status %}
                Waiting for {{ e.h1_name }} to ship
            {% endset %}
        {% elif not e.is_received %}
            {% set status = "Waiting for Receipt" %}
            {% set actions %}
                <button style="margin-left: 0.25em;"
                onclick="updateExchange('{{ ex.exchange_sid }}', 'received', '{{ e.id }}', 2, '{{ e.h2 }}') "
                type="button" class="btn btn-success btn-sm">Mark as Received</button>
            {% endset %}
        {% else %}
            {% set status = "Complete" %}
        {% endif %}
    {% else %}
        {% set status|trim %}
            {% if e.is_verified == False %}
                Waiting for verification
            {% elif not e.is_shipped %}
                Waiting for shipment
            {% elif not e.is_received %}
                Waiting for receipt
            {% endif %}
        {% endset %}
    {% endif %}
    <td>{{ status }}</td>
    <td>{{ actions }}</td>
{% endmacro %}

{% block exchanges %}
<div class="well current-exchanges">
    <h2>Your Exchanges</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col">Exchange</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ex in exchanges %}
            {% for e in ex.exchanges %}
            <tr>
                {% call whole_exchange_td(loop, ex) %}
                    {{ ex.exchange_sid }}
                {% endcall %}

                {% call whole_exchange_td(loop, ex) %}
                    {{ ex.exchange_created.replace(microsecond=0) }}
                {% endcall %}

                {% call whole_exchange_td(loop, ex) %}
                        {{ ex.exchange_updated.replace(microsecond=0) }}
                {% endcall %}

                <td>
                    {% if e.h1 == hospital_id %}
                        Giving {{ e.count }} of {{ e.ppe }} to {{ e.h2_name }}
                    {% elif e.h2 == hospital_id %}
                        Receiving {{ e.count }} of {{ e.ppe }} from {{ e.h1_name }}
                    {% else %}
                        {{ e.h1_name }} giving {{ e.count }} of {{ e.ppe }} to {{ e.h2_name }}
                    {% endif %}
                </td>

                {% if ex.exchange_status == 4 %}
                    {% call whole_exchange_actions(loop, ex, status="Canceled by system administrator") %}
                    {% endcall %}
                {% elif ex.exchange_status == 3 %}
                    {% call whole_exchange_actions(loop, ex, status="Cancelled by hospital") %}
                    {% endcall %}
                {% elif ex.exchange_status == 1 %}
                    {% call whole_exchange_actions(loop, ex, status="Complete") %}
                    {% endcall %}
                {% else %}
                    <!-- Verify1 and Verify2 will only be true if we are the relevant hospital AND need to verify.-->
                    {% if not ex.verify1 %}
                        {% call whole_exchange_actions(loop, ex, status="You need to verify") %}
                            <button
                                onclick="updateExchange('{{ ex.exchange_sid }}', 'verify', 0, 1, '{{ hospital.hospital_id }}') "
                                type="button" class="btn btn-success btn-sm">Verify</button>
                            <button
                                onclick="deleteCheck('{{ ex.exchange_sid }}', 'cancel', 0, 1, '{{ hospital.hospital_id }}') "
                                type="button" class="btn btn-danger btn-sm">Cancel</button>
                        {% endcall %}
                    {% elif not ex.verify2 %}
                        {% call whole_exchange_actions(loop, ex, status="You need to verify") %}
                            <button
                                onclick="updateExchange('{{ ex.exchange_sid }}', 'verify', 0, 2, '{{ hospital.hospital_id }}') "
                                type="button" class="btn btn-success btn-sm">Verify</button>
                            <button
                                onclick="deleteCheck('{{ ex.exchange_sid }}', 'cancel', 0, 2, '{{ hospital.hospital_id }}') "
                                type="button" class="btn btn-danger btn-sm">Cancel</button>
                        {% endcall %}
                    {% else %}
                        {{ exchange_status_and_actions(ex, e) }}
                    {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>


<div id="delete-check" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Cancel Confirmation</h2>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to cancel Exchange <span id="remove-item-name"></span></p>
            </div>
            <div class="modal-footer">
                <button id="yes" class="btn btn-danger" onclick="updateExchange2()">Yes</button>
                <button id="no" class="btn btn-primary" onclick="hideDeleteCheck()">No</button>
            </div>
        </div>
    </div>
</div>

<script>
    var data = {};
    $("#delete-check").hide()

    function deleteCheck(exchange_id, task, e_id, number, hospital_id) {
        data = { exchange_id: exchange_id, task: task, e_id: e_id, number: number, hospital_id: hospital_id, user_id: '{{ user_id }}' };
        $("#delete-check").show();
        $("#remove-item-name").text(exchange_id);
    }

    function updateExchange2() {
        $.ajax({
            url: "/update_exchange",
            type: "POST",
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (result) {
                location.reload();
            },
            error: function (result) {
                alert("There was an error please reload and try again");
            }
        });
    }


    function updateExchange(exchange_id, task, e_id, number, hospital_id) {
        data = { exchange_id: exchange_id, task: task, e_id: e_id, number: number, hospital_id: hospital_id , user_id: '{{ user_id }}'};
        $.ajax({
            url: "/update_exchange",
            type: "POST",
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (result) {
                location.reload();
            },
            error: function (result) {
                alert("There was an error please reload and try again");
            }
        });
    }

    function hideDeleteCheck() {
        $("#delete-check").hide();
    }
</script>
{% endblock %}