{% extends "base.html" %}

{% block app_content %}
<div class="content">
    <h1>Admin SKU</h1>

    <div id="delete-check" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Remove Confirmation</h2>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to remove SKU <span id="remove-item-name"></span></p>
                </div>
                <div class="modal-footer">
                    <button id="yes" class="btn btn-danger" onclick="removeSKU()">Yes</button>
                    <button id="no" class="btn btn-primary"  onclick="hideDeleteCheck()">No</button>
                </div>	   
            </div>
        </div>
     </div>
 
     <div id="edit" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Edit <span id="edit-item-name"></span></h2>
                </div>
                <div class="modal-body">
                    <div class="form-group row padded">
                        <label style="margin-right: 2em;" for="add-name"><b>SKU <span id="edit-sku"></span>:</b></label>
                        <input class="form-control" id="edit-desc" type="textarea" value="">
                    </div>
                    <div class="form-group row padded">
                        <button style="margin-right: 2em;" class="btn btn-success" id="edit-upload-image">Upload New Image</button>
                        <input onchange="editImportFileandPreview()" accept="image/*" id="edit-file-input" type="file", name="name" style="display: none">
                        <img id="edit-img" style="width: 200px;" src="">
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button id="yes" class="btn btn-primary" onclick="applyEdits()">Apply Edits</button>
                    <button id="no" class="btn btn-info" onclick="hideEditPage()">Cancel</button>
                </div>	   
            </div>
        </div>
    </div>

    {% for item in items %}
        <div class="items" >
            <p>
                <b>SKU <span class="sku">{{ item.sku }}</span>:</b> {{ item.desc }}
                <img style="width: 200px;" src="{{ item.img }}">
                <button id="remove" class="btn btn-danger" onclick="checkRemoveSKU('{{ item.sku }}')">Remove</button>
                <button id="edit" class="btn btn-primary" onclick="edit('{{ item.sku }}', '{{ item.desc }}', '{{ item.img }}')">Edit</button>
            </p>
        </div>
    {% endfor %}
    <br>
    <div id="add" style="margin-left: 0.75em;">
        <div class="form-group row padded">
            <label class="form-check-label col-sm-2 col-form-label" for="add-sku"><b>SKU:</b></label>
	        <div class="col-sm-10">
		        <input id="add-sku" class="form-control" type="textarea">
	        </div>
	    </div>
        <div class="form-group row padded">
	        <label class="form-check-label col-sm-2 col-form-label" for="add-desc"><b>Description:</b></label>
	        <div class="col-sm-10">
		        <input id="add-desc" class="form-control" type="textarea">
            </div>
            <br style="margin: 0; padding: 0;">
        </div>
        <div class="form-group row padded">
	        <label class="form-check-label col-sm-2 col-form-label" for="add-address"><b>Upload Image:</b></label>
	        <div class="col-sm-10">
		        <button id="add-img" class="btn btn-info">Upload Image</button> <input onchange="importFileandPreview()" accept="image/*" id="file-input" type="file", name="name" style="display: none"> <img style="width: 200px;" id="show-img"></img>
            </div>
            <br style="margin: 0; padding: 0;">
            <br style="margin: 0; padding: 0;">
            <p>&nbsp;<button class="btn btn-success" style="margin-left:  1em; margin-bottom: 0; margin-top: 0; padding-left: 1.5em; padding-right: 1.5em;" onclick="addSKU()">Add SKU</button></p>
        </div>
        <br>
    </div>
</div>
    <script>
        var image_uploaded = false;
        var edit_image_uploaded = false;
        var reader  = new FileReader();
        var edit_reader  = new FileReader();
        
        var to_remove = "";
        var to_edit = "";


        $("#delete-check").hide();
        $("#edit").hide();

        $("#add-img").on('click', function() {
            $('#file-input').trigger('click');
        });

        function importFileandPreview() {
          var file = document.getElementById('file-input').files[0];

          reader.addEventListener("load", function () {
            image_uploaded = true;
            $("#show-img").attr('src', reader.result)
        });
          if (file) {
            reader.readAsDataURL(file);
          }
        }

        function addSKU() {
            if ($("#add-sku").val() == "") {
                alert("Empty SKU");
                return NaN
            }

            if ($("#add-desc").val() == "") {
                alert("Empty description");
                return NaN
            }

            item = {
                "sku": $("#add-sku").val(),
                "desc": $("#add-desc").val(),
                "img": reader.result,
                "task": "add"
            }
            $.ajax({
                url: "/update_admin_sku",
                type: "POST",
                contentType:'application/json',
                data: JSON.stringify(item),
                dataType:'json',
                success: function(result) {
                    location.reload();
                },
                error: function(result) {
                    alert(result.responseText);
                }
            });
            image_uploaded = false;
        }

        function checkRemoveSKU(sku) {
            $("#delete-check").show();
            $("#remove-item-name").text(sku);
            to_remove = sku;
        }

        function hideDeleteCheck() {
            $("#delete-check").hide();
        }

        function removeSKU() {
            sku = to_remove;
            item = {
                "task": "remove",
                "sku": sku
            }
            $.ajax({
                url: "/update_admin_sku",
                type: "POST",
                contentType:'application/json',
                data: JSON.stringify(item),
                dataType:'json',
                success: function(result) {
                    location.reload();
                },
                error: function(result) {
                    alert(result.responseText);
                }
            });
        }

        function applyEdits() {
            edit_image_uploaded = false;
            $('#edit').hide();
            item = {
                "sku": to_edit,
                "desc": $('#edit-desc').val(),
                "img": $('#edit-img').attr('src'),
                "task": "edit"
            };
            $.ajax({
                url: "/update_admin_sku",
                type: "POST",
                contentType:'application/json',
                data: JSON.stringify(item),
                dataType:'json',
                success: function(result) {
                    location.reload();
                },
                error: function(result) {
                    alert(result.responseText);
                }
            });
        }

        function edit(sku, desc, img) {
            to_edit = sku;
            $('#edit-sku').html(sku);
            $('#edit-desc').val(desc);
            $('#edit-img').attr('src', img);
            $('#edit').show();
        }

        $("#edit-upload-image").on('click', function() {
            $('#edit-file-input').trigger('click');
        });

        function editImportFileandPreview() {
            var file = document.getElementById('edit-file-input').files[0];

            edit_reader.addEventListener("load", function () {
                edit_image_uploaded = true;
                $('#edit-img').attr('src', edit_reader.result);
            });
            if (file) {
                edit_reader.readAsDataURL(file);
            }
        }

        function hideEditPage() {
            $('#edit').hide();
        }
    </script>
{% endblock %}
