{% extends "base.html" %}

{% block app_content %}
<div class="content">
    <h1>User List</h1>
    <div id="delete-check" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Remove Confirmation</h2>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to remove user: <span id="remove-user-name"></span>?</p>
                </div>
                <div class="modal-footer">
                    <button id="yes" class="btn btn-danger" onclick="removeUser()">Yes</button>
                    <button id="no" class="btn btn-primary"  onclick="hideDeleteCheck()">No</button>
                </div>	   
            </div>
        </div>
     </div>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Hospital</th>
            <th scope="col">Contact</th>
            <th scope="col">Address</th>
            <th scope="col">Account Type</th>
            <th scope="col">Verified</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.hospital }}</td>
                <td>{{ user.contact }}</td>
                <td>{{ user.address }}</td>
                <td>{% if user.is_admin %}
                        Admin
                    {% else %}
                        User
                    {% endif %}
                </td>
                <td>{% if user.is_verified %}
                        <b>Yes: &nbsp;&nbsp;&nbsp;</b> <button id="button-{{ user.id }}" type="button" class="btn btn-danger btn-sm" {% if not user.is_admin%} onclick="checkRemoveUser('{{ user.id }}','{{ user.username }}')" {% else %} disabled {% endif %}>Remove</button>
                    {% elif user.verification_pending %}
                       <b>Pending: &nbsp;&nbsp;&nbsp;</b> <button id="button-{{ user.id }}" onclick="editUser('{{ user.id }}', 'cancel')" type="button" class="btn btn-danger btn-sm">Cancel</button>&nbsp;&nbsp;<button id="button-{{ user.id }}" type="button" class="btn btn-danger btn-sm" {% if not user.is_admin%} onclick="checkRemoveUser('{{ user.id }}','{{ user.username }}')" {% else %} disabled {% endif %}>Remove</button>
                    {% else %}
                       <b>Not Verified: &nbsp;&nbsp;&nbsp;</b> <button id="button-{{ user.id }}" onclick="editUser('{{ user.id }}', 'verify')" type="button" class="btn btn-success btn-sm ">Verify</button>&nbsp;&nbsp;<button id="button-{{ user.id }}" type="button" class="btn btn-danger btn-sm" {% if not user.is_admin%} onclick="checkRemoveUser('{{ user.id }}','{{ user.username }}')" {% else %} disabled {% endif %}>Remove</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        var to_remove = "";

        $("#delete-check").hide();

        function checkRemoveUser(id, user) {
            $("#delete-check").show();
            $("#remove-user-name").text(user);
            to_remove = id;
        }

        function hideDeleteCheck() {
            $("#delete-check").hide();
        }

        function removeUser() {
            editUser(to_remove, 'remove')
        }

        function editUser(user_id, task) {
            data = {user_id: user_id, task: task};

            var button = $("#button-"+String(user_id));
            button.attr("onclick", "");
            button.prop("disabled", true);

            $.ajax({
                url: "/update_admin_users",
                type: "POST",
                contentType:'application/json',
                data: JSON.stringify(data),
                dataType:'json',
		        success: function(result) {
                    location.reload();
                },
                error: function(result) {
                    alert("There was an error please reload and try again");
                }
            });
        }
    </script>
</div>
{% endblock %}
