{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1>Hi, {{ current_user.username }}!</h1>
    <button class="btn btn-primary" onclick="redirect('admin_users')">Users</button>
    <button class="btn btn-primary" onclick="redirect('admin_hospitals')">Hospitals</button>
    <button class="btn btn-primary" onclick="redirect('admin_sku')">SKUs</button>
    <button class="btn btn-primary" onclick="redirect('admin_exchange')">Exchanges</button>
</div>
    <script>
        function redirect(url) {
            document.location.href="/"+url;
        }
    </script>
{% endblock %}
