{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<link rel="stylesheet"
      href="{{url_for('.static', filename='mystyle.css')}}">
{% endblock %}

{% block html_attribs %} lang="en"{% endblock %}

{% block title %}
    {% if title %}{{ title }} - PPE-Exchange {% else %}Welcome to PPE-Exchange{% endif %}
    {% endblock %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PPE-Exchange</a>
    </div>
    <ul class="nav navbar-nav nav-pills">
    	<li class="nav-itm">
	   <a class="nav-link" href="{{ url_for('index') }}">Home</a>
	</li>
        </div>
            {% if current_user.is_anonymous %}
	          <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            {% else %}
      <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            {% endif %}
    </ul>
  </div>
{% endblock %}

{% block content %}
        <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}

	{% endblock %}
{% endblock %}

