{% extends "base.html" %}

# exchanges logic
# loop through exchanges
#   find ones that have this user's hospital id somewhere in the linked exchange --> grab whole "exchanges"
#   exchange id --> exchanges.id
#   when created --> exchanges.creation_timestamp
#   when updated --> exchanges.updated_timestamp
#   loop through exchanges
#     print out exchange
#     print out status
#     depending on status, show optional button

# Exchange ID   when created    when updated    exchange part 1     status part 1: optional button (verify/shipped/received)
#                                               exchange part 2     status part 2: optional button
#                                               ...                 ...

{% block content %}
    <h1>Exchanges List</h1>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Created</th>
            <th scope="col">Updated</th>
            <th scope="col">Exchange</th>
            <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for ex in exchanges %}
            <tr>
                <td> <b> {{ ex.exchange_sid }} </b></td>
                <td> {{ ex.exchange_created.replace(microsecond=0) }} </td>
                <td> {{ ex.exchange_updated.replace(microsecond=0) }} </td>
                <td>
                        {% for e in ex.exchanges %}
                        <p style="margin: 0.8em;">{{ e.h1_name }} giving {{ e.h2_name }} {{ e.count }} instances of {{ e.ppe }}<br></p>
                        {% endfor %}
                </td>
                    
                <td>
                        {% if ex.exchange_status == 4 %}
                            Exchange canceled by exchange administrator
                        {% elif ex.exchange_status == 3 %}
                            Exchange canceled by hospital
                        {% elif ex.exchange_status == 1 %}
                            Exchange complete
                        {% else %}
                            {% if not ex.verify1 %}
                                    <button onclick="updateExchange('{{ ex.exchange_sid }}', 'verify', 0, 1, '{{ hospital.hospital_id }}') "type="button" class="btn btn-success btn-sm">Verify</button>
                                    <button onclick="updateExchange('{{ ex.exchange_sid }}', 'cancel', 0, 1, '{{ hospital.hospital_id }}') "type="button" class="btn btn-danger btn-sm">Cancel</button> 
                            {% elif not ex.verify2 %}
                                    <button onclick="updateExchange('{{ ex.exchange_sid }}', 'verify', 0, 2, '{{ hospital.hospital_id }}') "type="button" class="btn btn-success btn-sm">Verify</button>
                                    <button onclick="updateExchange('{{ ex.exchange_sid }}', 'cancel', 0, 2, '{{ hospital.hospital_id }}') "type="button" class="btn btn-danger btn-sm">Cancel</button>
                            {% else %}
                                {% for e in ex.exchanges %}
                                        {% if e.h1 == hospital.hospital_id %}
                                            {% if ex.verify1 %}
                                                {% if not e.is_verified %}
                                                    <p style="margin-top: 0.8em;">Waiting for {{ e.h2_name }} to verify<br></p>
                                                {% elif not e.is_shipped %}
                                                    <button style="margin: 0.25em;" onclick="updateExchange('{{ ex.exchange_sid }}', 'shipped', '{{ e.id }}', 1, '{{ e.h1 }}') "type="button" class="btn btn-success btn-sm">Shipped</button><br>
                                                {% elif not e.is_received %}
                                                    <p style="margin-top: 0.8em;">Waiting for {{ e.h2_name }} to receive<br></p>
                                                {% else %}
                                                    <p style="margin-top: 0.8em;">Exchange complete<br></p>
                                                {% endif %}
                                            {% endif %}
                                        {% elif e.h2 == hospital.hospital_id %}
                                            {% if ex.verify2 %}
                                                {% if not e.is_verified %}
                                                    <p style="margin-top: 0.8em;">Waiting for {{ e.h1_name }} to verify<br></p>
                                                {% elif not e.is_shipped %}
                                                    <p style="margin-top: 0.8em;">Waiting for {{ e.h1_name }} to ship<br></p>
                                                {% elif not e.is_received %}
                                                    {{ ex.id }}, received, {{ e.id }}
                                                    <button style="margin: 0.25em;" onclick="updateExchange('{{ ex.exchange_sid }}', 'received', '{{ e.id }}', 2, '{{ e.h2 }}') "type="button" class="btn btn-success btn-sm">Received</button><br>
                                                {% else %}
                                                    <p style="margin-top: 0.8em;">Exchange complete<br></p>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            {% if e.is_verified == False %}
                                                <p style="margin-top: 0.8em;">Waiting for verification<br></p>
                                            {% elif not e.is_shipped %}
                                                <p style="margin-top: 0.8em;">Waiting for shipment<br></p>
                                            {% elif not e.is_received %}
                                                <p style="margin-top: 0.8em;">Waiting for receipt<br></p>
                                            {% endif %}
                                        {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function updateExchange(exchange_id, task, e_id, number, hospital_id) {
            data = {exchange_id: exchange_id, task: task, e_id: e_id, number: number, hospital_id:hospital_id};
            $.ajax({
                url: "/update_exchange",
                type: "POST",
                contentType:'application/json',
                data: JSON.stringify(data),
                dataType:'json',
		        success: function(result) {
                    location.reload();
                },
                error: function(result) {
                    alert("There was an error please reload and try again");
                }
            });
        }
    </script>
{% endblock %}