{% extends "base.html" %}

{% block app_content %}
<div class="content">
    <h1>Hospital Information</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.hospitalID.label }}<br>
            {{ form.hospitalID(size=32, class="form-control") }}<br>
            {% for error in form.hospitalID.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class_="btn btn-primary") }}</p>
       
       
    </form>
    
    
    <h4>Hospital Address</h4>
    {% if hospitalInformation %}
    <p>{{hospitalInformation.name}}
        <br>
        {{hospitalInformation.street}},
        <br>
        {{hospitalInformation.city}}, {{hospitalInformation.state}}, {{hospitalInformation.zipcode}}
        <br>

    </p>
    {% endif %}
    <h4>Hospital Users</h4>
    <p>
    
    {% for a in hospitalUsers %}
        {{a.username}}: {{a.email}}
        <br>
        

    {% endfor%}
    </p>


    
    
</div>
{% endblock %}
