{% extends "base.html" %}

{% macro ppe_row(ppe) %}
<tr>
    <td><img class="itmimg" src="{{ ppe.img.decode() }}" alt="{{ ppe.desc }} mask image" width="150" /></td>
    <td>{{ ppe.sku }}</td>
    <td>{{ ppe.desc }}</td>
    <td>
        {{ caller() }}
    </td>
</tr>
{% endmacro %}

{% macro active_ppe_row(ppe) %}
<!-- Since there can only be one answer, we guess what type of row this is.-->
{% if ppe.wants|length > 0 %}
    {% set count = ppe.wants[0].count %}
{% elif ppe.has|length > 0 %}
    {% set count = ppe.has[0].count %}
{% else %}
    {% set count = 0 %}
{% endif %}
{% call ppe_row(ppe) %}
<span class="no-edit">{{ count }}</span>
<input class="form-control" name="ppe-{{ppe.id}}" type="number" min="0" max="999999999" step="1" value="{{count}}" />
{% endcall %}
{% endmacro %}

{% block app_content %}
<div class="modal fade" tabindex="-1" role="dialog" id="add-ppe-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add a PPE Type</h4>
            </div>
            <div class="modal-body">
                <input type="search" style="width: 100%" class="form-control" placeholder="Search for a PPE Type" id="add-ppe-type-search"/>
                <br/>
                <table class="table table-striped" id="add-ppe-types">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>SKU</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ppe in ppe_types %}
                        {% call ppe_row(ppe) %}
                            {% if ppe.wants|length > 0 %}
                                <i>You already want this PPE!</i>
                            {% elif ppe.has|length > 0 %}
                                <i>You already have this PPE!</i>
                            {% else %}
                                <button class="btn btn-primary add-ppe-type" data-id="{{ ppe.id }}" data-dismiss="modal"><i class="glyphicon glyphicon-plus"></i> Add</button>
                                <!--
                                    This is hacky, but it works. We don't want to include templating
                                    logic on the client, so we render it on the server and store the
                                    HTML in a script tag with an incorrect type attribute. This
                                    won't be rendered but will hang out safely till the client-side
                                    JS reads it.
                                -->
                                <script type="text/html" id="ppe-row-template-{{ppe.id}}">
                                    {{ active_ppe_row(ppe) }}
                                </script>
                            {% endif %}
                        {% endcall %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="content">
    <h1>Hi, {{ current_user.username }} from {{ hospital.hospital_name }} !</h1>
    <div class="well current-exchanges">
        <h2>Your Exchanges</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>With</th>
                    <th>Status</th>
                    <th>Receiving</th>
                    <th>Giving</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12</td>
                    <td><a href="#">Virginia Mason</a></td>
                    <td><span class="badge badge-secondary">Pending</span></td>
                    <td>2000 N95, 300 P50</td>
                    <td>5000 Surgical Masks</td>
                    <td><a href="#">Details</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="wants" class="ppe-container">
        <form action="/update-ppe/wants" method="POST">
    <h2>
        PPE Types You Want
        <button data-target="#wants" class="btn btn-primary no-edit start-edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span> Edit</button>
    </h2>
    <p class="help-text only-edit">Set a PPE's quantity to 0 to delete.</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>SKU</th>
                <th>Description</th>
                <th>Quantity Wanted</th>
            </tr>
        </thead>
        <tbody>
            <tr class="only-edit" id="add-ppe-row">
                <td colspan="4">
                    <div style="display: flex; width: 100%; align-items: center; justify-content: space-between; flex-direction: row;">
                        <button class="btn btn-default" onclick="window.document.location.reload(); return false">Cancel</button>
                        <button class="btn btn-success" data-toggle="modal" data-target="#add-ppe-modal" onclick="return false;">
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> Add PPE Type
                        </button>
                        <button class="btn btn-primary">Save</button>
                    </div>
                </td>
            </tr>
            {% for ppe in ppe_types %}
            {% if ppe.wants|length > 0 %}
            {{ active_ppe_row(ppe) }}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</form>
    </div>
</div>
<style>
    .ppe-container:not(.edit) input:not(.no-edit),
    .ppe-container:not(.edit) .only-edit,
    .ppe-container.edit .no-edit {
        display: none;
    }
</style>
<script>
    $('.start-edit').click(function (e) {
        e.preventDefault();
        $($(this).data('target')).addClass('edit');
    });

    $('#add-ppe-type-search').keyup(function () {
        var query = $(this).val().toUpperCase()
        $('#add-ppe-types > tbody > tr').each(function () {
            var self = $(this)   
            // data-searchable is uppercased in the template for efficiency
            if (self.data('searchable').indexOf(query) === -1) self.hide()
            else self.show()
        })
    })

    $('button.add-ppe-type').click(function () {
        var ppeID = $(this).data('id')
        $('#add-ppe-row').after(
            $('#ppe-row-template-' + ppeID).html()
        )
    })
</script>
{% endblock %}