{% extends "base.html" %}

{% block content %}
<div class="content ">
    <h1>{{ hospital.hospital_name }} {{ state }}</h1>

   {% for item in items %}

    <div class="container form-container">
    <div class="image-crop">
       <img align="left" width="150" src="{{ item.img }}">
    </div>
      <!-- Horizonatal Form -->
      <div class="row">
        <div class="col-xs-6">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="sku" class="col-xs-3">SKU  {{ item.sku }}</label>
              <label class="not-bold col-xs-5" id="sku">{{ item.desc }}" </label><br>
	    </div>
	    <div class="form-group">
              <label for="count" class="col-xs-3">Count</label>
              <div class="col-xs-5">
                <input type="text" pattern="[0-9]" class="form-control" id="count" placeholder="{{ item.count }}" />
              </div>
         <div class="col-xs-5">
            <button type="button" class="btn btn-primary"  onclick="submit()"	>Update Count</button>

	   </form>
            </div>
        </div>
      </div>
    </div>
   </div>
    {% endfor %}
</div>
    <script>
        function submit() {
            var items = [];
            $('.items').each( function() {
                items.push({sku: $(this).find(".sku").html(), count: Number($(this).find(".count").val())});
            });

            for (var i=0; i < items.length; i++) {
                if (isNaN(items[i].count)) {
                    alert("Count of SKU: " + items[i].sku +" must be a number");
                    return NaN
                }
            }
            data = {state: "{{ state }}".toLowerCase(), items: items};
            $.ajax({
                url: "/update_want_need",
                type: "POST",
                contentType:'application/json',
                data: JSON.stringify(data),
                dataType:'json',
		                success: function(result) {
                    document.location.href="/"+result.target;
                },
                error: function(result) {
                    alert("There was an error please reload and try again");
                }
            });
        }
    </script>
{% endblock %}
